# Python  
__pycache__/  
*.py[cod]  
*$py.class  
*.so  
.Python  
env/  
build/  
develop-eggs/  
dist/  
downloads/  
eggs/  
.eggs/  
lib/  
lib64/  
parts/  
sdist/  
var/  
*.egg-info/  
.installed.cfg  
*.egg  
venv/  
.env  


*.bin  
*.pt  
*.db  
*.sqlite  
*.faiss  
*.onnx  
*.pkl  
vectorstore/  

 
app/models_cache/*    
!app/models_cache/.gitkeep  


  
.DS_Store  
Thumbs.db  

# IDE  
.idea/  
.vscode/  
*.swp  
*.swo  